/* Start Main (Index) */
.main-index{
  background-color: $color-principal;
  section{
		/* Start Section 1 (Index) */
    .section1-index{
      background-color: $color-principal;
      @include flex (row, space-evenly, center);
      padding: 3rem 1rem;
      min-height: 100vh;
      
      .index-centrado{
        flex: 1;
        @include flex (column, flex-start, center);
        text-align: initial;
        max-width: 500px;
        
        .h1{
          @extend %fuente-general;
          font-weight: 400;
          font-size: 5rem;
        }
        
        .p-intro{
          @extend %fuente-general;               
          font-size: 1.8rem;
          line-height: 3rem;
          margin-top: 2rem;
          margin-bottom: 2rem;    
        }
        
        .estilo-link{
          @extend %fuente-general; 
          background-color: $color-secundario;
          font-size: 1.8rem;
          display: block;
          text-decoration: none;
          color: black;
          padding: 15px 50px;
          transition: all 0.6s ease-in-out;
        }
      }
      
      .img-1{
        max-width: 50rem;
        flex: 1;
        object-fit: cover; 
      }
    }
    /* End Section 1 (Index) */

    /* Start Section 2 (Index) */
    .section2-index{
      @include flex (column, center, center);
      background-color: $color-secundario;
      text-align: center;
      padding-top: 3rem;
      
      .div-column{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.8rem;
        margin-bottom: 2rem;
        
        .h2{
          @extend %fuente-general;
          font-size: 3rem;
          margin-bottom: 0;
        }
        
        .subtitulo-1{
          @extend %fuente-general;
          font-size: 1.6rem;
          margin-bottom: 0
        }
        
        .seguros-bottom-2{
          @extend %fuente-general;
          width: fit-content;
          font-size: 2rem;
          margin-bottom: 0;
          background-color: $color-seguro;
          border-radius: 1rem;
          border: 0.4rem solid $color-botonseguro;
          color: black;
          text-decoration: none;
          padding: 8px 24px;
        }
      }
      
      .caja-grid{
        background-color: $color-secundario;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding-bottom: 1rem;
        
        .caja-seguros{
          @include flex(column, flex-start, center);
          margin-bottom: 1rem;

          div{
            img{
							width: 11rem;
              margin: 1rem 0;
            }
  
            .h3-seguros{
              @extend %fuente-general;
              text-align: center;
              font-size: 3rem;
              font-weight: 500;                    
            }
          }
					
          .p-seguros{
            @extend %fuente-general;
            font-size: 1.6rem;
            width: 65%;
            text-align: center;
          }
        }
      }
    }
    /* End Section 2 (Index) */
    
    /* Start Section 3 (Index) */
    .section3-index{
      background-color: $color-principal;
      padding: 3rem 0;
      
      .h2-compañias{
        @extend %fuente-general;
        font-weight: 500;
        font-size: 3rem;
        letter-spacing: 0.5rem;
        text-align: center;
        margin-bottom: 0;
      }
      
      .flex-seguros{
        @include flex(row, space-around, center);
        padding: 1rem;
        gap: 1rem;
        flex-wrap: wrap;
        
        img{
          height: 10rem;
          width: auto;
          object-fit: contain;
          aspect-ratio: 16 / 9;
        }
      }
    }
    /* End Section 3 (Index) */
    
    /* Start Section 4 (Index) */
    .section4-index{
      background:  $color-principal;
      padding: 30px 0;
      
      .hr{
        margin: 0;
        border-color: #0005;
        opacity: 1;
        width: 85%;
        margin: auto; 
      }
      
      .flex-numeros{
        @include flex(column, center, center);
        align-items: center;
        padding: 1rem 0;
        gap: 1.5rem;
        
        .h3-numeros{
          @extend %fuente-general;
          font-weight: 500;
          text-align: center;
          font-size: 3rem;
          margin-top: 2rem;
          letter-spacing: 0.5rem;
        }
        
        .conte-numeros{
          display: flex;
          flex-direction: row;
          align-items: center;
          margin-bottom: 2rem;
          gap:  3rem;
        }
        
        .numeros-centrados{
          @include flex(column, center, center);
          
          .numeros{
            @extend %fuente-general;
            font-weight: normal;
            font-size: 2rem;
            width: 50%;
            margin: auto;
            margin-bottom: 0;
            text-align: center;
          }
          
          .descripcion{
            @extend %fuente-general;
            font-weight: normal;
            font-size: 2rem;
            width: 60%;
            margin: auto;
            margin-bottom: 0;
            text-align: center;
          }
        }
        
        .punto-negro{
          width: 1.5rem;
          height: 1.5rem;
        }
      }
    }
    /* End Section 4 (Index) */
    
    /* Start Section 5 (Index) */
    .section5-index{
      background: $color-principal;   
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 2.5rem;
      width: 100%;
      margin: auto;
      
      .formulario-contacto{
        width: 40%;
        @include flex(column, center, flex-start);
        
        .contactanos{
          @extend %fuente-general;
          font-size: 2.5rem;
          font-weight: 600;
          margin-bottom: 1.5rem;
        }
        
        .trabajemos{
          @extend %fuente-general;
          font-size: 1.8rem;
          font-weight: normal;
          width: 70%;
        }
      }
      
      /* Start Form (Index) */
      .div-formulario{
        background: $color-principal;
        height: auto;
        outline: none;
        @include flex(column, center, center);
        
        .formulario{
          min-width: 50%;
          border: none;
          padding: 2.5rem;
          background-color: #D2F2EE;
          border-radius: 1rem;
          
          .datos-personales{
            width: 100%;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            padding-bottom: 3.5rem;
            
            .caja-persona{
              .name-formulario{
                @extend %fuente-general;
                font-size: 2rem;
                padding-top: 0.5rem;
              }
              
              .border-bottom-1{
                width: 95%;
                margin: auto;
                padding: 0.5rem 0.5rem;
                border-radius: 0.5rem;
                font-size: 1.6rem;
                outline: none;
                border: 1px solid #AFD6D244;
                background: #fff;
              }
              
              .border-bottom-2{
                background: #fff;
                outline: none;
                border: 1px solid #AFD6D244;
                border-radius: 0.5rem;
                font-size: 1.6rem;
                padding: 0.5rem;
                width: 100%;
              }
            }
          }
          
          .caja-formulario{
            width: 100%;
            padding-bottom: 3.5rem;
            
            .contenedor-formulario{
              display: inline-block;
              align-items: start;
              width: 100%;
              
              .name-formulario{
                @extend %fuente-general;
                font-size: 2rem;
                padding-top: 0.5rem;
                padding-bottom: 0.5rem;
              }
              
              .border-bottom-1{
                width: 100%;
                outline: none;
                background: #fff;
                border-radius: 0.5rem;
                padding: 0.5rem;
                border: 1px solid #AFD6D244;
                font-size: 1.6rem;
              }
            }
          }
          
          .centrado-formulario{
            width: 100%;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            
            .enviar-formulario{
              width: 100%;
              display: flex;
              justify-content: center;
              
              .estilo-formulario{
                cursor: pointer;
                @extend %fuente-general;
                font-size: 1.6rem;
                background-color: $color-botoncotiza;
                border-radius: 1rem;
                border: 0.3rem solid $color-botoncotiza-light;
                text-decoration: none;
                padding: 0.5rem 2rem;
                color: #fff;
                transition: all 0.6s ease-in-out;
                
                &.estilo-formulario:hover{
                  transform: scale(1.1);
                }
              }
            }
            
            .gracias-formulario{
              @include flex(column, center, center);
              
              .txt-formulario{
                @extend %fuente-general;
                font-size: 1.6rem;
                text-align: center;
                margin-bottom: 0;
              }
            }
          }
        }
      }
      /* End Form (Index) */
    }
    /* End Section 5 (Index) */
  }

  /* Map */
  .mapa{
    width: 100%;
    height: 30rem;
  }
}
/* End Main (Index) */

/* Start Footer (Index) */  
footer{
	.contenedor-footer{
		.hr{
			background-color: $color-secundario;
			margin: 0;
			border-color: #0005;
			opacity: 1;
			width: 80%;
			margin: auto; 
		}
	}	
}
/* End Footer (Index) */  

