/* Start Header (Index) */
header{
  .navbar{
    padding: 0 5rem;
    background-color: $color-principal;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    transition: all 0.5s ease-in-out;
    box-shadow: 0 0 2.4rem rgba(0, 0, 0, .2);
    
    div{
      a{
        .logo-AC{
          height: 8.5rem;
          width: 8.5rem;
          transition: all 0.5s ease-in-out;

          &:hover{
            transform: scale(1.1);
          }
        }
      }

      div{
        .navegacion{
          @extend %fuente-general;
          font-size: 1.8rem;
          color:black; 
          gap: 1.5rem;

            li{
              a{
                transition: all 0.6s ease-in-out;
              }

              a:hover{
                transform: scale(1.1);
              }
            }
        }
      }
    }
  }
  &.scrolled{
    .navbar {
      background-color: #fff;
    }
  }
  /* End Header (Index) */
  
  /* Start Header (Seguros, Nosotros, Contacto, GrupoSJ) */
  .header-color{
    background-color: $color-secundario;
  }
  /* End Header (Seguros, Nosotros, Contacto, GrupoSJ) */
}