/* Globals Styles */
/* Reset CSS */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Montserrat", sans-serif;
}

/* Start General Style */
html{
	font-size: 62.5% /* 1rem = 10px */
}

main{
	/* Start Animation intro */
	.intro-y {
		opacity: 0;
		transform: translateY(5px);
		animation : $animacion-introY;
	}
	/* End Animation intro */

	/* Start Button Cotiza */
	a{
		&.animated-button{
			text-decoration: none;
			position: fixed;
			cursor: pointer;
			display: inline-block;
			padding: 8px 16px;
			border: none;
			bottom: 20px;
			right: 20px;
			background-color: #387973;
			color: #FFF;
			border-radius: 100px;
			text-align: center;
			font-size: 16px;
			z-index: 2;
			border: #387973;
			animation: $animacion-molestar;
			transition: 0.6s;
			opacity: 0.6;
		}
			
		&.animated-button:hover {
			opacity: 1;
		}
	}
	/* End Button Cotiza */

	/* Start Button Up */
	.button-up {
		cursor: pointer;
		width: 36px;
		height: 36px;
		bottom: 20px;
		left: 20px;
		background-color: #387973;
		color: #FFF;
		border-radius: 80px;
		text-align: center;
		font-size: 6px;
		z-index: 2;
		border: #387973;
		animation: $animacion-molestar;
		position: fixed;
		transition: 0.4s;
		opacity: 0.6;

		&:hover {
			transform: scale(0.9);
			opacity: 1;
		}
		
		.arrow-up {
			width: 0;
			height: 0;
			border-left: 6px solid transparent;
			border-right: 6px solid transparent;
			margin-left: auto;
			margin-right: auto;
			margin-top: 35%;
			margin-bottom: 60%;
			border-bottom: 8px solid white;
		}
	}
	/* End Button Up */

	/* Start Style Networks */
	.conte-redes{
		top:50vh;
		right: 1.5rem;
		position: fixed;
		z-index: 3;
	}
	
	.redes-1{
		display: flex;
		flex-direction: column;
		transition: all 0.4s ease-in-out;
		opacity: 0.6;
		padding-bottom: 1rem;
	
		&:hover{
			transform: scale(1.1);
			opacity: 1;
		}
	}
	/* End Style Networks */
}
/* End General Style */